<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="honk-title">Index</h1>
    <div class="content">
        <h2>QAP2</h2>
        <p>Welcome to FullStack JavaScript</p>
        <p>In your browser and navigate to <br>
         <a href="http://localhost:3000/">http://localhost:3000/</a> <br> 
         <a href="http://localhost:3000/about">http://localhost:3000/about</a> <br> 
         <a href="http://localhost:3000/contact">http://localhost:3000/contact</a> <br> 
         <a href="http://localhost:3000/subscribe">http://localhost:3000/subscribe</a> <br>
         <a href="http://localhost:3000/overview">http://localhost:3000/overview</a><br>
         <a href="http://localhost:3000/events">http://localhost:3000/events</a>

        <br>to see the different pages served by the server.</p>
    </div>
    <hr>
    <b><a href="http://localhost:3000/">Back to Home</a></b> <p>&copy; Lianne Campbell 2024</p>
</body>
</html>