<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="honk-title">Index</h1>
        </header>
        <hr>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/subscribe">Subscribe</a>
        <a href="/overview">Overview</a>
        <a href="/events">Events</a>
        <a href="/application">Application</a>
        <a href="/daily-info">Daily Info</a>
    </div>
    <hr>
    <div class="contentbox">
    <div class="content">
        <h2>QAP2</h2>
        <p>Welcome to FullStack JavaScript</p>
        <br>
        <p>This is the index page of our FullStack JavaScript website.<br>
        Here, you will find information about our services, events, and how to navigate through the site.<br>
        Feel free to explore the various pages using the provided links above.</p>
        <br>
        <p>In your browser and navigate to <br>
         <br><a href="http://localhost:3000/">http://localhost:3000/</a> <br> 
         <br><a href="http://localhost:3000/about">http://localhost:3000/about</a> <br> 
         <br><a href="http://localhost:3000/contact">http://localhost:3000/contact</a> <br> 
         <br><a href="http://localhost:3000/subscribe">http://localhost:3000/subscribe</a> <br>
         <br><a href="http://localhost:3000/overview">http://localhost:3000/overview</a><br>
         <br><a href="http://localhost:3000/events">http://localhost:3000/events</a><br>
         <br><a href="http://localhost:3000/application">http://localhost:3000/application</a><br>
         <br><a href="http://localhost:3000/daily-info">http://localhost:3000/daily-info</a><br>

        <br>to see the different pages served by the server.</p>
    </div>
    </div>
    <hr>
    <footer>
    <b><a href="http://localhost:3000/" class="honk-title">Back to Home</a></b> <p>&copy; Lianne Campbell 2024</p>
    </footer>
</body>
</html>